<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="endpointURI" value="https://server/webservices/CoreService201603.svc/basicHttp"/>
    <add key="endpointName" value="basicHttps201603"/>
    <add key="username" value="domain\username"/>
    <add key="password" value="password"/>
    <add key="publicationName" value="300 Chronos Content"/>
    <add key="basePath" value="Building Blocks/Content"/>
  </appSettings>

  <!-- Required for Core Service client -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferPoolSize="4194304" maxReceivedMessageSize="4194304">
          <readerQuotas maxStringContentLength="4194304" maxArrayLength="4194304"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferPoolSize="4194304" maxReceivedMessageSize="4194304">
          <readerQuotas maxStringContentLength="4194304" maxArrayLength="4194304"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint name="basicHttp201603" binding="basicHttpBinding" contract="Tridion.ContentManager.CoreService.Client.ICoreService"/>
      <endpoint name="basicHttps201603" binding="basicHttpsBinding" contract="Tridion.ContentManager.CoreService.Client.ICoreService"/>
    </client>
    <behaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
